/*===================================================*/
/* Site Styles                                       */
/*===================================================*/
html {
  font: normal 20px "Avenir", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  text-align: center;
  color: #45494d;
}

h2 {
  padding-bottom: 40px;
  font: bold 1.8rem "Avenir", Helvetica, Arial, sans-serif;
}

h2:before,
h2:after  {
  content: "\2022";
  display: inline-block;
  padding: 0 1.2rem;
  vertical-align: 5px;
  font-size: 1.1rem;
}

h3 {
  padding: 5px 0 25px 0;
  color: #3e59b2;
  font-weight: bold;
  font-size: 1.2rem;
}

p {
  line-height: 1.35rem;
}

a {
  text-decoration: none;
}

.column {
  width: 1000px;
  margin: 0 auto;
}

.narrow p {
  padding: 0 110px;
}

/*===================================================*/
/* Header Styles                                     */
/*===================================================*/
.site-header {
  height: 518px;
  width: 100%;
  margin-bottom: 100px;
  background: url("../assets/images/bg_body.gif") 50% 0 repeat;
}

h1 {
  padding-top: 75px;
  margin-bottom: 108px;
}

nav li {
  display: inline-block;
  margin: 0 42.5px;
}

nav a {
  font-size: 1.2rem;
  color: #cacaca;
  text-transform: uppercase;
}

nav a.active {
  font-weight: bold;
  color: #6db9ff;
}

/*===================================================*/
/* Footer Styles                                     */
/*===================================================*/
footer {
  padding: 75px 0;
  background: #e7e7e7;
}

footer p {
  margin-bottom: 42px;
  line-height: 1.3rem;
  color: #b2b2b2;
}

footer li {
  display: inline-block;
  margin: 0 62px;
}

footer a {
  display: inline-block;
  height: 46px;
  width: 47px;
  background: transparent url("../assets/images/icons_social-media.png") 0 0 no-repeat;
}

.facebook {
  background-position: 0 -46px;
}

.email {
  background-position: 0 -92px;
}

.instagram {
  background-position: 0 100%;
}

/*===================================================*/
/* Home Page Styles                                  */
/*===================================================*/
.home div{
  margin: 100px 110px;
}

/*===================================================*/
/* Projects Page Styles                              */
/*===================================================*/
.projects img {
  display: inline-block;
  width: 940px;
  margin: 0 30px 15px 30px;
}

.projects section {
  padding-bottom: 50px;
}

.sample-project {
  padding-top: 60px;
}

/*===================================================*/
/* Team Page Styles                                  */
/*===================================================*/
.team {
  margin-bottom: 230px;
}

.people {
  margin: 100px 90px 0 90px ;
}

.people li {
  display: inline-block;
  padding: 0 30px;
}

.people img {
  display: block;
  padding-bottom: 25px;
}

.people a {
  color: #3e59b2;
  font-size: 1.2rem;
}
